.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


body {
  padding-top: 70px;
  background-color: #ffffff;
}

.video-custom-center{
  margin:0px auto;
}


#top-nav-bar{
  background-color: #000;
}

.secondary-video{
  background-color: #fafafa;
}

.clear-background{
  background-color: #fbfbfb;
}

#video-player-panel-1{
  padding-top: 10px;
}

.panel-body{
  padding-left: 0px;
  padding-right: 2px;
}


#chart-area {
  height: 400px;
  width: 100%;
  padding-left:15px;
  padding-right: 15px;
  margin:0px;
}

#charts-navigation{
  background-color: #000;
/*  background-color: #607D8B;*/
}
.hidden-left-and-right-panel { display: none; }

/* wordcloud */
#wordcloud-canvas{
  width: 250px;
}
#wordcloud-panel{
  padding-left:5px;
  padding-right:5px;
  height: 592px;
}
/* #chartdiv {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
} */	

/* secondary boxes */
.secondary-video-div>.panel-body{
  padding-bottom: 0px;
}
.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #607d8b), color-stop(1, #607d8b));
	background:-moz-linear-gradient(top, #607d8b 5%, #607d8b 100%);
	background:-webkit-linear-gradient(top, #607d8b 5%, #607d8b 100%);
	background:-o-linear-gradient(top, #607d8b 5%, #607d8b 100%);
	background:-ms-linear-gradient(top, #607d8b 5%, #607d8b 100%);
	background:linear-gradient(to bottom, #607d8b 5%, #607d8b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#607d8b', endColorstr='#607d8b',GradientType=0);
	background-color:#607d8b;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:5px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	width:100%
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #607d8b), color-stop(1, #607d8b));
	background:-moz-linear-gradient(top, #607d8b 5%, #607d8b 100%);
	background:-webkit-linear-gradient(top, #607d8b 5%, #607d8b 100%);
	background:-o-linear-gradient(top, #607d8b 5%, #607d8b 100%);
	background:-ms-linear-gradient(top, #607d8b 5%, #607d8b 100%);
	background:linear-gradient(to bottom, #607d8b 5%, #607d8b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#607d8b', endColorstr='#607d8b',GradientType=0);
	background-color:#607d8b;
}
.myButton:active {
	position:relative;
	top:1px;
}


/************************** template testing ****************/
.subpanel_left{
/*  display: none;*/
}

.subpanel_right{
/*  display: none;*/
}

/* gauge chart */
/* TODO -- fix here */

/***************** TEMP FIX **********************/


.chart-gauge
{
  width: 400px;
  margin: 100px auto  
} 
.chart-filled
{
  fill: #607D8b;
}
.chart-empty
{
  fill: #cccccc;
}

.needle, .needle-center
{
  fill: #464A4F;
}

svg {
  font: 10px sans-serif;
}

#session-basic-info{
  padding-left: 10%;
  padding-right: 10%;
}


/* main video charts */
#main-video-charts{
  
}

.secondary-video-div {
/*  background-image: url('../img/color1.png'); */
  background-size: 100% 10%;
  background-repeat: repeat-x;
  padding-top: 20px;
}


#main-video-container{
/*  background-image: url('../img/color1.png'); */
  background-size: 100% 5%;
  background-repeat: repeat-x;
}

.main-video-header{
  height: 20px;
}



/* directed graph */
#directed_graph svg path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

#directed_graph svg circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

#directed_graph svg circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

#directed_graph svg text {
  font: 12px sans-serif;
  pointer-events: none;
}

#directed_graph svg text.id {
  text-anchor: middle;
  font-weight: bold;
}
#transition_title{
  margin-bottom:0px;
  padding-bottom:0px;
}
