.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


body {
  padding-top: 70px;
  background-color: #eeeeee;
}

.video-custom-center{
  margin:0px auto;
}

#top-nav-bar{
  background-color: #000;
}

.secondary-video{
  background-color: #fafafa;
}

.clear-background{
  background-color: #fbfbfb;
}

#video-player-panel-1{
  padding-top: 10px;
}

.panel-body{
  padding-left: 0px;
  padding-right: 2px;
}


#chart-area {
  height: 400px;
  width: 100%;
}


/* wordcloud */
#wordcloud-canvas{
  width: 250px;
}
#wordcloud-panel{
  padding-left:5px;
  padding-right:5px;
}

/* secondary boxes */

/* gauge chart */
/* TODO -- fix here */
.chart-gauge
{
  width: 400px;
  margin: 100px auto  
} 
.chart-filled
{
  fill: #607D8b;
}
.chart-empty
{
  fill: #cccccc;
}

.needle, .needle-center
{
  fill: #464A4F;
}

svg {
  font: 10px sans-serif;
}

