{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}RocConf{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">RocConf</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav><!-- /top_menu -->
  
  <div class="container">
  <div class="row" id="video-thumbnails">

    <div class="col-md-2"></div>

    <div class="col-md-8">
      <div class="thumbnail col-md-3">
        <img src="//placehold.it/192x108" />
      </div>
      <div class="thumbnail col-md-3">
        <img src="//placehold.it/192x108" />
      </div>
      <div class="thumbnail col-md-3">
        <img src="//placehold.it/192x108" />
      </div>
      <div class="thumbnail col-md-3">
        <img src="//placehold.it/192x108" />
      </div>
    </div>

    <div class="col-md-2"></div>
  </div><!-- /videos thumbnails-->

  <br/><br/>
  <div class="row" id="main-content">
    <div class="row-fluid">
      <div class="col-md-2 text-left">
        <div class="thumbnail">
          <img src="//placehold.it/200x640" />
        </div>
      </div><!-- /left side -->

      <div class="col-md-7 text-center" id="main-video-container">
        <div class="thumbnail text-center" id="main-video">
          <video id="main-video-player" class="video-js vjs-default-skin" controls
          preload="auto" width="640" height="480" poster="//placehold.it/640x480"
          data-setup='{}'>
            <source src="{{ url_for('.static',filename='video/A_Conference_Call_in_Real_Life.mp4') }}" type='video/mp4'>
            <source src="{{ url_for('.static',filename='video/A_Conference_Call_in_Real_Life.webm') }}" type='video/webm'>
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser
              that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
          </video>
        </div>
        <div class="row">
          <div class="col-xs-2 col-md-2" id="main-video-btns">
            <h4>
              <a id="main-video-play-btn" href="#"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
              <a id="main-video-pause-btn" href="#"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></a>
            </h4>
          </div>
          <div class="col-xs-9 col-md-9" id="main-video-slider"></div>
          <div class="col-xs-1 col-md-1"></div>
        </div>
        <br/><br/>
      </div><!-- /main video-->

      <div class="col-md-3">
        <div class="row">
          <canvas id="word-cloud-canvas"></canvas>
          <!--<img src="{{ url_for('static',filename='img/fake_wordcloud_480.png') }}" />-->
        </div>
      </div><!-- /right side -->
    </div><!-- /main-content-row -->

    <div class="row-fluid text-center">
        <br/>
        <img src="{{ url_for('static',filename='img/fake_sentiment.png') }}" style="width: 800px; height: auto;" />
    </div> <!-- charts area -->

  </div> <!-- /main-content -->

</div>

{% endblock %}

{% block head %} 
  {{super()}}
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')  }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')  }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css')  }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/video-js.min.css')  }}">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="{{ url_for('.static', filename='js/jquery-1.11.3.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/jquery-ui.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/wordcloud2.js')}}"></script>

    <script type=text/javascript>
      function assert(condition,msg){
        if (!condition){
          alert(msg);
          throw Error("Assertion failed");
        }
      }
    </script>


    <script>
    </script>
    
    <script src="{{ url_for('.static',filename='js/video.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('.static',filename='js/rocconf.js') }}" type="text/javascript"></script>

{% endblock %}
