{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}RocConf{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">RocConf</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav><!-- /top_menu -->
  
  <div class="container">
  <div class="row" id="video-thumbnails">

    <div class="col-md-2"></div>

    <div class="col-md-8" id="secondary-videos-list">
      <div class="thumbnail col-md-3" id="secondary-video-1">
        <video id="secondary-video-player-1" class="video-js vjs-default-skin secondary-video"
        preload="auto" width="180" height="90" poster="//placehold.it/180x90"
        data-setup='{}'>
          <source src="{{ url_for('.static',filename='video/user_1/video.webm') }}" type='video/webm'>
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser
            that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p>
        </video>
      </div><!--/secondary-video-1 -->

      <div class="thumbnail col-md-3" id="secondary-video-2">
        <video id="secondary-video-player-2" class="video-js vjs-default-skin secondary-video"
        preload="auto" width="180" height="90" poster="//placehold.it/180x90"
        data-setup='{}'>
          <source src="{{ url_for('.static',filename='video/user_1/video.webm') }}" type='video/webm'>
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser
            that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p>
        </video>
      </div><!--/secondary-video-2 -->

      <div class="thumbnail col-md-3" id="secondary-video-3">
        <video id="secondary-video-player-3" class="video-js vjs-default-skin secondary-video"
        preload="auto" width="180" height="90" poster="//placehold.it/180x90"
        data-setup='{}'>
          <source src="{{ url_for('.static',filename='video/user_1/video.webm') }}" type='video/webm'>
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser
            that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p>
        </video>
      </div><!--/secondary-video-3 -->

      <div class="thumbnail col-md-3" id="secondary-video-4">
        <video id="secondary-video-player-4" class="video-js vjs-default-skin secondary-video"
        preload="auto" width="180" height="90" poster="//placehold.it/180x90"
        data-setup='{}'>
          <source src="{{ url_for('.static',filename='video/user_1/video.webm') }}" type='video/webm'>
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser
            that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p>
        </video>
      </div><!--/secondary-video-4 -->

    </div><!--/secondary-videos-list -->

    <div class="col-md-2"></div>
  </div><!-- /videos thumbnails-->

  <div class="row" id="main-content">
    <!-- main content row -->
    <div class="row-fluid" id="main-content-container">

      <!-- left side space -->
      <div class="col-md-2 col-xs-2 text-center" id="buttons-container">
          <a href="#" class="btn btn-primary btn-raised">Button1</a><br/>
          <a href="#" class="btn btn-primary btn-raised">Button2</a><br/>
          <a href="#" class="btn btn-primary btn-raised">Button3</a><br/>
          <a href="#" class="btn btn-primary btn-raised">Button4</a><br/>
          <a href="#" class="btn btn-primary btn-raised">Button5</a><br/>
        <!--<div class="thumbnail">
          <img src="//placehold.it/200x480" />
        </div>-->
      </div><!-- /left side -->

      <div class="col-md-8 text-center" id="main-video-container">
        <div class="row">
          <div class="thumbnail text-center" id="main-video">
            <video id="main-video-player" class="video-js vjs-default-skin video-custom-center"
            preload="auto" width="480" height="360" poster="//placehold.it/640x480"
            data-setup='{}'>
              <source src="{{ url_for('.static',filename='video/user_1/video.webm') }}" type='video/webm'>
              <source src="{{ url_for('.static',filename='video/user_1/audio.wav') }}" type='audio/wav'/>
              <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser
                that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
              </p>
            </video>
            <audio id="main-video-audio">
              <source src="{{ url_for('.static',filename='video/user_1/audio.wav') }}" type='audio/wav'/>
              <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser
                that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
              </p>
            </audio>
          </div>
          <div class="row" id="slider-placeholder">
            <div class="col-xs-2 col-md-2" id="main-video-btns">
              <h4>
                <a id="main-video-play-btn" href="#"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
                <a id="main-video-pause-btn" href="#"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></a>
              </h4>
            </div>
            <div class="col-xs-9 col-md-9" id="main-video-slider"></div>
            <div class="col-xs-1 col-md-1 text-left" style="margin-left: 0px; padding-left: 0px;">
              <strong><h4 id="video-time">0:00</h4></strong>
            </div>
          </div>
        </div>
      </div><!-- /main video-->

      <!-- right side space -->
      <div class="col-md-2 col-xs-3 vcenter" id="wordcloud-placeholder">
        <canvas id="wordcloud-canvas"></canvas>
        <!--<img src="{{ url_for('static',filename='img/fake_wordcloud_480.png') }}" />-->
      </div><!-- /right side -->

    </div><!-- /main-content-row -->

    <!-- charts area -->
    <div clas="row-fluid">
      <!-- left alignment -->
      <div class="col-md-2 col-xs-2"></div>

        <!-- chart -->
        <div class="col-md-8 col-xs-8 text-center">
          <br/>
          <!--<img src="{{ url_for('static',filename='img/fake_sentiment.png') }}" style="width: 800px; height: auto;" />-->
          <div class="row" id="chart-area"></div>
        </div> <!-- /chart -->

      <!-- right alignment -->
      <div class="col-md-2 col-xs-2"></div>
    </div><!-- /charts area -->

  </div> <!-- /main-content -->

</div>

{% endblock %}

{% block head %} 
  {{super()}}
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/video-js.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/material.min.css') }}">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="{{ url_for('.static', filename='js/jquery-1.11.3.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/jquery-ui.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/wordcloud2.js')}}"></script>

    <script type=text/javascript>
      function assert(condition,msg){
        if (!condition){
          alert(msg);
          throw Error("Assertion failed");
        }
      }
    </script>


    <script src="{{ url_for('.static',filename='js/video.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('.static',filename='js/rocconf.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('.static',filename='js/rocconf_wordcloud.js') }}" type="text/javascript"></script>
    <script src="https://www.google.com/jsapi?autoload={'modules': [{'name':'visualization',
                                                        'version':'1',
                                                        'packages':['corechart'] }]}" type="text/javascript"></script>
    <script src="{{ url_for('.static',filename='js/rocconf_charts.js') }}" type="text/javascript"></script>

{% endblock %}
