{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}RocConf{% endblock %}

{% block content %}
<div class="container">
  <div class="row" id="video-thumbnails">

    <div class="col-md-2"></div>

    <div class="col-md-8">
      <div class="thumbnail col-md-3">
        <img src="//placehold.it/192x108" />
      </div>
      <div class="thumbnail col-md-3">
        <img src="//placehold.it/192x108" />
      </div>
      <div class="thumbnail col-md-3">
        <img src="//placehold.it/192x108" />
      </div>
      <div class="thumbnail col-md-3">
        <img src="//placehold.it/192x108" />
      </div>
    </div>

    <div class="col-md-2"></div>
  </div><!-- /videos thumbnails-->

  <br/><br/>
  <div class="row" id="main-content">
    <div class="row-fluid">
      <div class="col-md-2 text-left">
        <div class="thumbnail">
          <img src="//placehold.it/200x640" />
        </div>
      </div><!-- /left side -->

      <div class="col-md-7 text-center" id="main-video-container">
        <div class="thumbnail text-center" id="main-video">
          <video id="really-cool-video" class="video-js vjs-default-skin" controls
          preload="auto" width="640" height="480" poster="//placehold.it/640x480"
          data-setup='{}'>
            <source src="{{ url_for('.static',filename='video/A_Conference_Call_in_Real_Life.mp4') }}" type='video/mp4'>
            <source src="{{ url_for('.static',filename='video/A_Conference_Call_in_Real_Life.webm') }}" type='video/webm'>
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser
              that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
          </video>
        </div>
        <div id="main-video-slider"></div><br/><br/>
      </div><!-- /main video-->

      <div class="col-md-3">
        <div class="row">
          <canvas id="word-cloud-canvas"></canvas>
          <!--<img src="{{ url_for('static',filename='img/fake_wordcloud_480.png') }}" />-->
        </div>
      </div><!-- /right side -->
    </div><!-- /main-content-row -->

    <div class="row-fluid text-center">
        <br/>
        <img src="{{ url_for('static',filename='img/fake_sentiment.png') }}" style="width: 800px; height: auto;" />
    </div> <!-- charts area -->

  </div> <!-- /main-content -->

</div>

{% endblock %}

{% block head %} 
  {{super()}}
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')  }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')  }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css')  }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/video-js.min.css')  }}">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="{{ url_for('.static', filename='js/jquery-1.11.3.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/jquery-ui.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/wordcloud2.js')}}"></script>

    <script type=text/javascript>
      function assert(condition,msg){
        if (!condition){
          alert(msg);
          throw Error("Assertion failed");
        }
      }
    </script>


    <script>
      var wordlist = [['Web Technologies',26],
                      ['HTML',20],
                      ['<canvas>',20],
                      ['CSS',15],
                      ['JavaScript',15],
                      ['Document Object Model',12],
                      ['<audio>',12],
                      ['<video>',12],
                      ['Web Workers',12],
                      ['XMLHttpRequest',12],
                      ['SVG',12],
                      ['JSON.parse()',9],
                      ['Geolocation',9],
                      ['data attribute',9],
                      ['transform',9],
                      ['transition',9],
                      ['animation',9],
                      ['setTimeout',7],
                      ['@font-face',7],
                      ['Typed Arrays',7],
                      ['FileReader API',7],
                      ['FormData',7],
                      ['IndexedDB',7],
                      ['getUserMedia()',7],
                      ['postMassage()',7],
                      ['CORS',7],
                      ['strict mode',6],
                      ['calc()',6],
                      ['supports()',6],
                      ['media queries',6],
                      ['full screen',6],
                      ['notification',6],
                      ['orientation',6],
                      ['requestAnimationFrame',6],
                      ['border-radius',5],
                      ['box-sizing',5],
                      ['rgba()',5],
                      ['text-shadow',5],
                      ['box-shadow',5],
                      ['flexbox',5],
                      ['viewpoint',5]];

        function click_word(word,dimension,mouse_event){
          console.log('word ');
          console.log(word);
          console.log('Dimension: ');
          console.log(dimension);
          /*alert('word: '+ item + ' with coordinates: '+ JSON.stringify(dimension));*/
        }

        /* fix for erasing the word selection with html5 only */ 
        var original_cloud = undefined;
        var last_dimension = undefined;

        function hover_word(word,dimension,mouse_event){
          var c = $("#word-cloud-canvas")[0];
          var ctx = c.getContext("2d");

          if (!dimension){
            ctx.clearRect(0,0,$("#word-cloud-canvas").width(),$("#word-cloud-canvas").height());
            ctx.putImageData(original_cloud,0,0);
          }else{
            if (dimension != last_dimension){
              ctx.clearRect(0,0,$("#word-cloud-canvas").width(),$("#word-cloud-canvas").height());
              ctx.putImageData(original_cloud,0,0);
            }
            last_dimension = dimension;
            ctx.strokeRect(dimension.x,dimension.y,dimension.w,dimension.h);
          }
        }

        var options = {list : wordlist,
                      gridSize: Math.round(16 * $('#word-cloud-canvas').width() / 1024),
                      weightFactor: function (size) {
                        return Math.pow(size, 2.3) * $('#word-cloud-canvas').width() / 1024;
                      },
                      fontFamily: 'Times, serif',
                      rotateRatio: 0.1,
                      minRotation: -Math.PI /2.0,
                      maxRotation: -Math.PI /2.0,
                      backgroundColor: '#fff',
                      hover: hover_word,
                      click: click_word};

      $(document).ready(function(){
        $("#main-video-slider").slider();
        WordCloud($('#word-cloud-canvas')[0], options);


        $("#word-cloud-canvas").on('wordcloudstop',function(){
          var c = $("#word-cloud-canvas")[0];
          var ctx = c.getContext("2d");
          original_cloud = ctx.getImageData(0,0,$("#word-cloud-canvas").width(),$("#word-cloud-canvas").height());
        });
      });
    </script>
    
    <script src="{{ url_for('.static',filename='js/video.min.js') }}" type="text/javascript"></script>

{% endblock %}
